<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Channel9Plugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Channel9Plugin.Properties.Settings>
            <setting name="MimeType_WMV" serializeAs="String">
                <value>video/x-ms-wmv</value>
            </setting>
        </Channel9Plugin.Properties.Settings>
    </applicationSettings>
</configuration>